<% layout("/layouts/boilerplate") %>
<body>
     
     <div class="row">
        <div class="col-8 offset-2">
            <h3>Create new list</h3><br>
        <form method="POST" action="/test" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input id="title" name="listing[title]" placeholder="enter title" class="form-control" type="text" required>
                <div class="invalid-feedback">Please provide a valid title.</div>              
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea id="description" name="listing[description]" class="form-control" required></textarea>
                <div class="invalid-feedback">Please provide description.</div> 
            </div>
            <div class="mb-3">
                <label for="image" class="form-label"> Upload Image</label>
                <input id="image" name="listing[image]" class="form-control" type="file" required>
            </div>
            <div class="row">
                <div class="mb-3 col-4">
                    <label for="price" class="form-label">Price</label>
                    <input id="price" name="listing[price]" placeholder="enter price" class="form-control" type="number" required>
                    <div class="invalid-feedback">Please provide a valid price.</div>
                </div>
                <div class="mb-3 col-8 ">
                    <label for="multiSelect" class="form-label">Select your listing categories</label>
                    <select name="listing[category][]" class="form-select" multiple required>
                        <!-- <option disabled>Select multiple categories</option> -->
                        <option value="Trending">Trending</option>
                        <option value="Food">Food</option>
                        <option value="Luxe">Luxe</option>
                        <option value="Mountains">Mountains</option>
                        <option value="Domes">Domes</option>
                        <option value="Castles">Castles</option>
                        <option value="Farm">Farm</option>
                        <option value="Beach">Beach</option>
                        <option value="Arctic">Arctic</option>
                        <option value="Boat">Boat</option>
                        <option value="Jungle">Jungle</option>
                        <option value="Waterfalls">Waterfalls</option>
                        <option value="Cityscape">Cityscape</option>
                        <option value="Caves">Caves</option>
                        <option value="Forests">Forests</option>
                        <option value="Nightlife">Nightlife</option>
                        <option value="Hot Springs">Hot Springs</option>
                        <option value="Wildlife">Wildlife</option>
                        <option value="Countryside">Countryside</option>
                        <option value="Temples">Temples</option>
                    </select>
                    <div class="invalid-feedback">Please select at least one category.</div>
                </div>
                
            </div>
            <div class="mb-3 ">
                <label for="location" class="form-label">Location</label>
                <input id="location" name="listing[location]" placeholder="enter location" class="form-control" type="text" required>
                <div class="invalid-feedback">Please provide a valid location.</div>
            </div>
            <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <input id="country" name="listing[country]" placeholder="enter country" class="form-control" type="text" required>
                <div class="invalid-feedback">Please provide a valid country.</div>
            </div>
            <br>
            <button class="btn btn-dark">add</button>
            <br/>
            <br/>
        </form>
        </div>
     </div>
</body>