<div class="footer">
    <div class="f-sinfo">
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-square-whatsapp"></i>
    </div>
    <div class="name"> &copy;ExploreEase privet limited</div>
    <div class="f-linfo">
        <a href="/privacy">Privacy</a>
        <a href="/term">Term</a>
        <a href="/limited">Limited</a>
    </div>
</div>